{% include 'main.html' %}
<body style="background-color:white;">
    <div class="border border-primary text-bg-secondary p-3">
    <h1 class="text-bg-secondary p-3" style="text-align: center;">Sign up for EXPENSE CALCULATOR</h1>
    </div>
    <form method="post" action="/endd">
    <div class="input-group mb-3">
        <label for="username" style="margin-top: 50px;">User name</label>
        <input type="text" placeholder="Username" name="username" aria-label="Username" style="margin-top: 60px;width: 600px;" required><br></div>
        <div class="input-group mb-3">
        <label for="email">Email</label>
        <input type="email" placeholder="Enter email id" name="email" style="margin-top: 10px;margin-left:80px;width: 600px;" required><br></div>
        <div class="input-group mb-3">
        <input type="submit" class="btn btn-outline-primary but" style="padding: 2px;" value="Sign up">
      </div></form>
      <div>
        {% if e %}<p>
            {{e}}
        </p>
        {% endif %}

      </div>
      
</body>